<div>
    <nav class="navbar">
        <p (click)="goTo('/')" class="navbar-brand">File Stash</p>
        <div class="navbar-nav">
            <p (click)="goTo('/')" class="nav-link">Home</p>
            <p (click)="goTo('/view')" class="nav-link">View</p>
            @if(signedIn){
                <p (click)="goTo('/profile')" class="nav-link" >Profile</p>
            }@else {
                <p (click)="goTo('/login')" class="nav-link">Login</p>
            }
        </div>
    </nav>
</div>